.product-card {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  flex-basis: 200px;
  background-color: #f9f8f8;
  padding: 16px 30px;
  flex-grow: 1;
  max-width: 400px;
  cursor: pointer;
  min-width: 300px;
}

.product-card__btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 50px;
}

.product-card__btns button {
  border: none;
}

.product-card__btns--category-button {
  height: 31px;
  border-radius: 8px;
  background: #274c5b;
  padding: 5px 12px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}

.product-card__btns--add-to-cart-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  background: #274c5b;
  border-radius: 50%;
  cursor: pointer;
}

.product-card__btns--add-to-cart-button:hover {
  animation: rotate-btn 0.2s linear 1;
  -webkit-animation: rotate-btn 0.5s linear 1;
}

@keyframes rotate-btn {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.product-card__image {
  width: 100%;
  height: 324px;
  object-fit: contain;
}

.product-card__name {
  color: #274c5b;
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 12px;
}

.product-card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25px;
  padding-top: 6px;
  border-top: 1px solid #dedddd;
}

.product-card__price {
  display: flex;
  align-items: center;
  gap: 8px;
}

.product-card__original-price {
  color: #b8b8b8;
  font-size: 15px;
  font-weight: 600;
  text-decoration: line-through;
}

.product-card__discount-price {
  color: #274c5b;
  font-size: 18px;
  font-weight: 700;
}

@media screen and (max-width: 600px) {
  .product-card {
    border-radius: 12px;
  }
}
